@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 12px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .buttonPrimary {
    @apply bg-main_black hover:bg-main_black hover:opacity-90 transition;
  }

  .buttonSecondary {
    @apply bg-main_white hover:bg-main_white hover:opacity-90 transition;
  }
}
